<div id="home_menu" class="row m-0">
    <div class="col">
        <button class="btn btn-secondary p-3" (click)="popup('Add New')">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="col">
        <button class="btn btn-secondary p-3" title="History" (click)="popup('History')">
            <i class="fas fa-history"></i>
        </button>
    </div>
    <div class="col">
        <button class="btn btn-secondary p-3" title="Board İD" (click)="popup('İD')">
            <i class="fas fa-link"></i>
        </button>
    </div>
</div>