#popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.popup{
    position: absolute;
    min-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}